* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.News {
  margin-top: 80px;
  padding: 45px 0 66px 0;
}

.News__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.News__info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.News__info .line {
  opacity: 1;
  margin: 0;
  height: 30px;
  border: 2px solid #3479EE;
}

.News__info .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-left: 15px;
}

.News__info .pass {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4D77FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.News__show {
  margin-top: 40px;
}

.News__show-top, .News__show-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.News__show-top .card, .News__show-bottom .card {
  background-image: url("../../assets/yangiliklar/top1.png");
  background-repeat: no-repeat;
}

.News__show-top .card-title, .News__show-bottom .card-title {
  margin-top: 195px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-3.23%, #232323), to(rgba(35, 35, 35, 0.1)));
  background: linear-gradient(360deg, #232323 -3.23%, rgba(35, 35, 35, 0.1) 100%);
  width: 625px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 0 0 25px;
}

.News__show-top .card-title .inside, .News__show-bottom .card-title .inside {
  width: 437px;
  display: inline;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.News__show-top .card:hover .card-title, .News__show-bottom .card:hover .card-title {
  margin-top: 170px;
  opacity: 1;
  height: 150px;
  padding-top: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-3.23%, #232323), to(rgba(35, 35, 35, 0.2)));
  background: linear-gradient(360deg, #232323 -3.23%, rgba(35, 35, 35, 0.2) 100%);
}

.News__show-top .card:hover .inside, .News__show-bottom .card:hover .inside {
  text-decoration: underline;
}

.News__show-top .card1:hover .title, .News__show-bottom .card1:hover .title {
  color: #4D77FF;
}

.News__show-top .info, .News__show-bottom .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0 0 15px;
  margin-top: 0;
  width: 298px;
  height: 165px;
  background: #F9F9F9;
  border-radius: 0px 0px 10px 10px;
}

.News__show-top .info .title, .News__show-bottom .info .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #232323;
}

.News__show-top .info .description, .News__show-bottom .info .description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #232323;
  opacity: 0.6;
}

.News__show .bott {
  margin-top: 30px;
}

.Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E5E5E5;
  padding: 90px 0 120px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Info__box {
  max-width: 175px;
  height: 180px;
  text-align: center;
}

.Info__box .number {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 108px;
  color: #232323;
}

.Info__box .case {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Media {
  padding: 50px 0 70px 0;
}
/*# sourceMappingURL=Home.css.map */