
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background: #3479EE;
    padding:0 25px;
}

.footer__top{
  display: flex;
  justify-content: space-between;

  &-logo{
      display: flex;
      
      &--logo{
          width: 75px;
          height: 75px;
          margin-top: 45px;
      }
      &--title{
          width: 326px;
          margin-left: 11px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 31px;
          color: #FFFFFF;
          margin-top: 50px;

      }
  }
  &-form{
      display: flex;
  ::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 18.5px;
    line-height: 32px;
    color: #9EBFF7;
    
    
    
  }
      &--email{
        display: flex;
        align-items: center;
        background:#5D94F1;
        margin-top: 56px;
        border-radius: 8px;
        width: 322px;
        height: 51px;
        padding-left: 15px;
        border-style: none;
        color: wheat;
        font-style: normal;
        font-weight: 400;
        font-size: 18.5804px;
        line-height: 32px;
        
      }
      &--submit{
       display: flex;
       justify-content: center;
       align-items: center;
        background: #FFFFFF;
        border-radius: 8px;
        width: 152px;
        height: 51px;
        margin-top: 56px;
        margin-left: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: #3479EE;

      }
  }
}
.footer__nav{
    display: flex;

    .footer__navbar{
        
        ul{
          display: flex;
          list-style-type:none ;
          margin-top: 70px;
        }
        li{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-right: 40px;
        }
    }
    &-number{
         margin: {
             top: 47px;
             left: 102px;
             bottom: 25px;
         };
        .number{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;

            .logo{
                margin-right: 11px;
            }
        }
    }
    .line{
        opacity: 0.1;
        border: 1px solid #FFFFFF;
        
    }}
    .footer__bottom{
        display: flex;
        margin: 35px;

     &-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        color: #FFFFFF;
        opacity: 0.8;
        width: 370px;
        margin-bottom: 20px;
     }
        &-social{
           display: flex;
           margin-left: 500px;
           

        }
        .wrapper{
            background:#5D94F1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 15px;
           

        }
        .icon{
            opacity:1;
            width:75%;
            height: 75%;
            color: white;
        }
    }

